/node_modules
/vendor
/package-lock.json
/composer.lock
/certs/server.csr
/certs/server.key
/certs/server.crt
/certs/ca.crt
/certs/ca.key
/certs/ca.srl
/conf/cert.conf
/conf/csr.conf
/conf/ca.conf
/site/*
!/site/wp-content/
site/wp-content/*
!/site/wp-content/themes/
site/wp-content/themes/*
!/site/wp-content/themes/wptheme-main/
!/site/wp-content/themes/wptheme-main/**
/trust-hosts.ps1
/wptheme.zip