.cta {
    background-color: $echo;
    color: $alpha;
    padding: 3rem 3rem 0 0;
    margin-top: 2.5rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: block;
        }
    }
    a {
        background-color: transparent;
        display: block;
        width: 100%;
        padding: 12px 15px;
        transition: transform 0.3s;
        transform: translateX(0);
        will-change: transform;
        display: block;
        font-size: 16px;
        font-weight: inherit;
        text-align: center;
    }
    .wp-block-button {
        display: block;
        color: $alpha;
        border: none;
        background-color: $black;
        border-radius: 0;
        margin: 20px 0 0 0;
        width: 200px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 5px0;
        &:hover {
            opacity: 0.8;
        }
        &:hover a {
            transform: translateX(7px);
        }
    }
    p {
        padding: 0 0 0 3rem;
        margin-bottom: 1rem;
    }
}
