footer {
    background-color: $alpha;
    position: relative;
    z-index: 999;
    .footer-right {
        color: $charlie;
    }
    .widget {
        p {
            margin: 0;
        }
    }
    #footer-nav .menu-item {
        margin: 0 1rem;
        @include sm {
            margin: 0;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
        }
    }
}
