html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: $font;
    min-height: 100vh;
    font-weight: 300;
}

p {
    margin-bottom: 0;
}

main {
    min-height: calc(100dvh - 86px);
}


h1 {
    font-size: clamp(18px, 2vw, 22px);
}

h2 {
    font-size: clamp(17px, 2vw, 20px);
}

// scrollbar

.os-theme-body {
    --os-size: 7px;
}

.os-theme-body .os-scrollbar-handle {
    background: $bravo;
    border-radius: 0px;
    height: 85px;
}

.os-theme-body .os-scrollbar-track {
    background: transparent;
}

// links

.menu-item,
.widget ul li {
    font-weight: 400;
    letter-spacing: initial;
    position: relative;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    color: $black;
    &::after {
        position: absolute;
        content: " ";
        right: 0;
        bottom: 0px;
        height: 1px;
        width: 0;
        transition: width 0.25s;
        background-color: $bravo;
    }
    &:hover {
        &::after {
            left: 0;
            width: 100%;
        }
    }
    &.current-menu-item  {
        transition: none;
        &::after {
            width: 100%;
        }
    }
}

a {
    color: $black;
    text-decoration: none;
}

// buttons

.elementor-button,
button,
.wp-block-button__link,
input[type="submit"] {
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 1;
    svg {
        transition: transform 0.3s;
        transform: translateX(0);
        will-change: transform;
    }
    &:hover svg {
        transform: translateX(7px);
    }
    &:hover {
        opacity: 0.88;
    }
}

// color

.bg-echo{
    background-color: $echo;
}