.navbar-toggler {
    border: none;
    &.collapsed {
        .slider_8-bar1,
        .slider_8-bar3 {
            transform: none;
        }
        .slider_8-bar2 {
            opacity: 1;
        }
    }
    .slider_8-bar1,
    .slider_8-bar2,
    .slider_8-bar3 {
        width: 24px;
        height: 3px;
        background-color: $black;
        margin: 4px 0;
        transition: 0.4s;
        border-radius: 1.5px;
    }
    .slider_8-bar1 {
        transform: translate(0, 7px) rotate(-45deg);
    }
    .slider_8-bar2 {
        opacity: 0;
    }
    .slider_8-bar3 {
        transform: translate(0, -7px) rotate(45deg);
    }
}

.custom-logo-link {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 1rem;
    box-sizing: content-box;
}

.custom-logo {
    width: 50px;
    height: 50px;
}

#main-nav .menu-item {
    margin: 0 1rem;
}

.navbar-collapse {
    margin: 0 82px 0 0;
    @include sm {
        margin: 0;
    }
}

.navbar {
    background: linear-gradient(to bottom, $alpha 0%, rgba($alpha, 0.66) 66%, rgba(255, 255, 255, 0) 100%);
}
