@mixin xs_sm {
    @media screen and (min-width: 0px) and (max-width: 575px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 575px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 767px) {
        @content;
    }
}